.maincontainer{
    background-color: aliceblue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    position: relative;
    display: flex;
    align-items: center;
    height: 600px;
    width: 100%;
    max-width: 60rem;
    /* padding: 5%; */
    gap: 5px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1rem 10rem rgba(51, 51, 50, 0.1);
}
